.graphic-header {
  text-align: center;
}

.personal-area__nav {
  margin-top: 15px;
  display: flex;

  button {
    margin-left: 15px;
    max-width: 200px;
    font-size: 12px;
    line-height: 1;
    &:first-child {
      margin-left: 0;
    }
  }
}

.personal-area__container {
  margin: 0 auto;
  max-width: 1200px;
}