.gantt__container {
  max-width: 1200px;
  margin: 20px auto 0;
  width: 100%;
  height: 500px;

  .mode-container {
    display: flex;

    &-item {
      flex: 0 0 auto;
      width: 80px;
      padding: 5px;
      border: solid 1px silver;
      background-color: #333333;
      color: white;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }

    &.month .__month {
      background-color: grey
    }

    &.year .__year {
      background-color: grey
    }
  }
}

.gantt__buttons {
  display: flex;
  margin-bottom: 10px;
  a {
    margin-left: 0;
    margin-right: 15px;
  }
}

.timeLine-side-task-row {
  text-align: left !important;
  padding-left: 10px;
  white-space: nowrap;
}

.timeLine-main-data-row > div {
  border-radius: 4px !important;
  transform: translateX(-6px);
}

.timeLine-main-data-task-side {
  display: none !important;
}