.Cross {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #4285F4;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  transform-origin: center;
  cursor: pointer;

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 4px;
    background: #fff;
    transform: translate(-50%, -50%);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg)
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}