.cost-calculation {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  label {
    display: flex;

    span {
      flex-basis: 50%;
    }
  }

  &__required {
    padding-left: 5px;
    color: red;
  }
}

.proposal-list {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 15px auto;
  border-radius: 5px;
}

.request-fields {
  font-size: 14px;
  max-width: 80%;
  padding: 15px 15px 0;

  &__required {
    font-size: 20px;
    color: red;
  }
}

.user-proposal__help {
  margin: 10px 0;
  background: rgba(137, 158, 241, 0.5);
  color: blue;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}