.proposal-info__field {
  margin-bottom: 20px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: #8B929A;
  }
  ul {
    padding-left: 20px;
  }
  p, li {
    margin: 0;
    color: #23272C;
    font-weight: 600;
  }
}