.proposal-info__field {
  margin-bottom: 20px;
  span {
    font-size: 14px;
    font-weight: 600;
    color: #8B929A;
  }
  ul {
    padding-left: 20px;
  }
  p, li {
    margin: 0;
    color: #23272C;
    font-weight: 600;
  }

  &.__border {
    border: 1px solid #23272C;
    border-radius: 5px;
    padding: 10px;
  }
}

.__new-proposal {
  margin-left: auto;
  background: #1db71d;
}

.__proposal-info-margin {
  margin-bottom: 20px;
}