$bg-color: #fff;
$bg-color-header: #f2f6fa;

html, body, #root {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: $bg-color;
  display: flex;
  flex-direction: column;
  margin: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container,
.header__container,
.footer__container{
  margin: 0 auto;
  max-width: 1200px;
}

@import 'containers/Header/Header';
@import 'containers/Footer/Footer';
@import 'containers/Home/Home';